nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 20px;
    padding: 0px 10px;
}
nav li:hover{
    background-color: rgb(37, 130, 192);
   
}
nav li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
nav > ul > li:hover > ul{
    display: block;
}
.dropdown{
    display: none;
    position: absolute;
    background-color: sandybrown;
    padding: 0px;
}
.dropdown li{
    padding: 0px 20px;
    margin: 0px;
}